<center>
<body style="background-color:powderblue;">
<br>
<h1 style="color:brown;">Welcome to SignUp Page</h1>
<br>
<br>
<form action="/userregister" method="post">
	<label for="username">Uername:</label>
	<input type="text" name="username" required>
	<br>
	<br>
	<label for="password">Password:</label>
	<input type="password" name="password" required>
	<br>
	<br>
	<label for="email">Email Id:</label>
	<input type="text" name="email" required>
	<br>
	<br>
	<button type="submit">Register</button>
</form>
</body>
</center>